<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czm.module_serial_port">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:theme="@style/AppTheme">
        <activity android:name=".SerialPortLearnActivity" />
        <activity android:name=".sample.ConsoleActivity" />
        <activity android:name=".sample.LoopbackActivity" />
        <activity android:name=".sample.MainMenu" />
        <activity android:name=".sample.Sending01010101Activity" />
        <activity android:name=".sample.SerialPortPreferences" />
        <activity android:name=".SerialPortDemoActivity" />
        <activity android:name=".TempActivity" />
        <activity android:name=".Temp2Activity" />
        <activity android:name=".Temp3Activity" />
        <activity android:name=".Temp4Activity" />
    </application>
</manifest>
