<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czm.module_serial_port">

    <application android:theme="@style/AppTheme">
        <activity android:name=".SerialPortLearnActivity" />
        <activity android:name=".sample.ConsoleActivity" />
        <activity android:name=".sample.LoopbackActivity" />
        <activity android:name=".sample.MainMenu" />
        <activity android:name=".sample.Sending01010101Activity" />
        <activity android:name=".sample.SerialPortPreferences" />
        <activity android:name=".SerialPortDemoActivity" />
    </application>
</manifest>
