<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czm.module_serial_port">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="debug.SerialPortApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="debug.LauncherActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SerialPortLearnActivity" />
        <activity android:name=".sample.ConsoleActivity" />
        <activity android:name=".sample.LoopbackActivity" />
        <activity android:name=".sample.MainMenu" />
        <activity android:name=".sample.Sending01010101Activity" />
        <activity android:name=".sample.SerialPortPreferences" />
        <activity android:name=".SerialPortDemoActivity" />
    </application>

</manifest>