<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czm.module_audio_video">

    <application android:theme="@style/AppTheme">
        <activity android:name="com.czm.module_audio_video.VideoLearnActivity" />
        <activity android:name="com.czm.module_audio_video.VideoStreamingActivity" />
        <activity android:name=".HIKVisionActivity"/>
    </application>

</manifest>
